.caixa__h1, .titulo {
  font-size: 4.88rem;
  line-height: 1;
}

.passo__titulo, .caixa__subtitulo {
  font-size: 2.76rem;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

/**
 * Basic typography style for copy text
 */
body {
  font-family: "MontSerrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #1a1b1f;
}

b,
strong {
  font-weight: 600;
}

.titulo {
  font-weight: 500;
}
.titulo span {
  color: #256783;
  font-weight: 600;
}

.secao {
  display: flex;
  flex-flow: column;
  padding: 6.1rem 2rem;
}

.container {
  display: flex;
  max-width: 100rem;
  margin: auto;
}

.grid {
  display: grid;
}

.botao {
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem 2.5rem;
  border: solid 0.2rem black;
  border-bottom-width: 0.4rem;
  border-right-width: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.92rem;
}
.botao:hover {
  border-width: 0.3rem;
}
.botao--amarelo {
  color: #fff;
  background-color: #eebe2a;
  border-color: rgb(117.6130434783, 91.1086956522, 9.3869565217);
}
.botao--centralizado {
  align-self: center;
}

.caixa {
  z-index: 1;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  background-color: #f1f1f1;
  border-radius: 2.5rem;
  margin-bottom: 6.1rem;
  padding: 3.12rem 2.5rem;
  max-width: 50rem;
  box-shadow: inset 0 0 1rem 0.6rem rgba(0, 0, 0, 0.2);
}
.caixa__div-logo {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  background-color: #f1f1f1;
  width: 6.5rem;
  height: 6.5rem;
  padding: 1.1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.2);
}
.caixa__titulos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0.65rem;
}
.caixa__h1 {
  color: #1c415c;
  text-align: center;
}
.caixa__subtitulo--cinza {
  color: #4b4d4d;
}
.caixa__lista {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.82rem;
  list-style: none;
  font-size: 1.92rem;
  line-height: 1.2;
}
.caixa__item-lista {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: start;
  gap: 0.82rem;
}
.caixa__icone {
  max-width: 1.8rem;
  margin-top: 0.21rem;
}

.passo {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.6rem;
}
.passo__cabecalho {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1.28rem;
}
.passo__caixa-icone {
  width: 4.3rem;
  height: 4.3rem;
  background-color: #256783;
  padding: 0.6rem;
  border-radius: 0.6rem;
}
.passo__icone {
  color: #fff;
  fill: #fff;
  stroke: #fff;
}
.passo__titulo--azul {
  color: #256783;
}

.secao--hero {
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
}
.secao--disclaimer {
  background-color: #e1e1e1;
  padding: 3.12rem 2rem;
  box-shadow: 0 0.5rem 1rem -0.2rem rgba(26, 27, 31, 0.15);
}
.secao--quem {
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/62cefb1ecf7f4662905b5b1e_%5BBACKGROUND%5D%20-%20BANNER%2005%20-%20desktop.webp);
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.container--hero {
  position: relative;
  align-items: end;
  width: 100%;
}
.container--passo, .container--aprender {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 6rem;
}
.container .cabecalho-titulo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}
.container .grid--passo {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6rem;
  column-gap: 3rem;
}
.container .grid--aprender {
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.container .grid--aprender a {
  overflow: hidden;
  border-radius: 2rem;
}
.container .grid--aprender img {
  border-radius: 2rem;
  width: 100%;
  transition: transform linear 0.1s;
}
.container .grid--aprender img:hover {
  transform: scale(1.05);
}

.div-lira {
  height: 58rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(40px);
  display: flex;
}

.disclaimer__paragrafo {
  font-size: 1.33rem;
  text-align: center;
}

.img-lira {
  grid-column: 2;
  grid-row: 1/span 2;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
