// -----------------------------------------------------------------------------
// This file contains all variables, functions, mixins e includes.
// -----------------------------------------------------------------------------

// VARIAVEIS

$cor-preta: #1a1b1f;
$cor-cinza-claro: #f1f1f1;
$cor-cinza-escuro: #4b4d4d;
$cor-cinza: #e1e1e1;
$cor-azul-escuro: #1c415c;
$cor-azul-claro: #256783;
$cor-amarelo: #eebe2a;

// MIXINS

@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $align: stretch,
  $justify: start,
  $gap: 0
) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin respond($tamanho) {
  @if $tamanho == big {
    @media (max-width: 60.625em) {
      @content;
    }
  } @else if $tamanho == medium {
    @media (max-width: 54.125em) {
      @content;
    }
  } @else if $tamanho == small {
    @media (max-width: 48.125em) {
      @content;
    }
  } @else if $tamanho == little {
    @media (max-width: 30em) {
      @content;
    }
  }
}

// EXTEND

%titulo {
  font-size: 4.88rem;
  line-height: 1;

  @include respond(small) {
    font-size: 3.98rem;
  }
}

%subtitulo {
  font-size: 2.76rem;
  font-weight: 700;
  line-height: 1.1;
}

%botao {
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem 2.5rem;
  border: solid 0.2rem black;
  border-bottom-width: 0.4rem;
  border-right-width: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.92rem;

  &:hover {
    border-width: 0.3rem;
  }
}

%botao--amarelo {
  color: #fff;
  background-color: $cor-amarelo;
  border-color: darken($cor-amarelo, 30%);
}

%botao--centralizado {
  align-self: center;
}
