// -----------------------------------------------------------------------------
// This file contains all styles related to layouts.
// -----------------------------------------------------------------------------

.secao {
  display: flex;
  flex-flow: column;

  padding: 6.1rem 2rem;
}

.container {
  display: flex;
  max-width: 100rem;
  margin: auto;
}

.grid {
  display: grid;
}
