.passo {
  @include flex($direction: column, $gap: 1.6rem);
  &__cabecalho {
    @include flex($align: center, $gap: 1.28rem);
  }

  &__caixa-icone {
    width: 4.3rem;
    height: 4.3rem;
    background-color: $cor-azul-claro;
    padding: 0.6rem;
    border-radius: 0.6rem;
  }

  &__icone {
    color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  &__titulo {
    @extend %subtitulo;

    &--azul {
      color: $cor-azul-claro;
    }
  }
}
