.popup--aberto {
  & .popup {
    display: flex;
  }
}

.popup {
  @include flex($justify: center, $align: center);

  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#fff, 0.925);
  backdrop-filter: blur(2.5px);
  z-index: 1;

  &__inputs {
    @include flex($direction: column, $gap: 1rem);
  }

  &__container {
    @include flex($direction: column, $gap: 2rem);

    position: relative;
    max-width: 50rem;
    width: 100%;
    background-color: #fff;
    padding: 3.12rem;
    border-radius: 2.5rem;
    box-shadow: inset 0 0 0.8rem 0.2rem rgba($cor-cinza, 0.953);

    @include respond(tiny) {
      max-width: 95%;
      padding: 2rem 1rem;
    }

    .fechar {
      @include flex($justify: center, $align: center);

      position: absolute;
      top: 0;
      right: 0;
      transform: translate(30%, -30%);
      cursor: pointer;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: #fff;
      font-size: inherit;
      background-color: $cor-amarelo;
      border: 0.2rem solid darken($cor-amarelo, 30%);
      font-size: 1.92rem;
      font-weight: 700;
      color: #fff;

      &:hover {
        border: 0.1rem solid darken($cor-amarelo, 30%);
      }
    }
  }

  &__input {
    font-size: inherit;
    padding: 0.82rem 1.28rem;
    border-radius: 5rem;
    border: solid 0.2rem #000;
    color: inherit;

    &--amarelo {
      border-color: $cor-amarelo;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 1rem rgba($cor-amarelo, 0.5);
    }
  }

  &__botao {
    @extend %botao;

    &--amarelo {
      @extend %botao--amarelo;
    }
  }
}
