// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.secao {
  &--hero {
    background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;
  }

  &--disclaimer {
    background-color: $cor-cinza;
    padding: 3.12rem 2rem;
    box-shadow: 0 0.5rem 1rem -0.2rem rgba($cor-preta, 0.15);
  }
}

.container {
  &--hero {
    position: relative;
    align-items: end;
    width: 100%;
  }
}

.div-lira {
  height: 58rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(40px);
  display: flex;
}

// SECAO DISCLAIMER

.disclaimer__paragrafo {
  font-size: 1.33rem;
  text-align: center;
}
