// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.secao {
  &--hero {
    background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;
    overflow: hidden;
  }

  &--disclaimer {
    background-color: $cor-cinza;
    padding: 3.12rem 6rem;
    box-shadow: 0 0.5rem 1rem -0.2rem rgba($cor-preta, 0.15);
  }

  &--quem {
    background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/62cefb1ecf7f4662905b5b1e_%5BBACKGROUND%5D%20-%20BANNER%2005%20-%20desktop.webp);
    background-position-x: 50%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;
    padding-top: 21rem;
    margin-top: -10rem;

    @include respond(small) {
      padding-top: 36rem;
      margin-top: -26rem;
    }

    @include respond(tiny) {
      padding-top: 34rem;
      margin-top: -26rem;
    }
  }
}

.container {
  &--hero {
    position: relative;
    align-items: end;
    width: 100%;

    @include respond(small) {
      flex-flow: column;
      align-items: center;
      gap: 3.12rem;
    }
  }

  &--passo,
  &--aprender {
    @include flex($direction: column, $gap: 6rem);

    @include respond(small) {
      gap: 4rem;
    }
  }

  &--quem {
    position: relative;
    width: 100%;

    @include respond(small) {
      flex-flow: column;
      align-items: center;

      gap: 3.12rem;
    }
  }

  .cabecalho-titulo {
    @include flex($align: center, $gap: 2rem);
  }

  .grid {
    &--passo {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 6rem;
      column-gap: 3rem;

      @include respond(small) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3.12rem;
        column-gap: 2rem;
      }

      @include respond(tiny) {
        grid-template-columns: 1fr;
      }
    }

    &--aprender {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;

      @include respond(small) {
        gap: 2rem;
      }

      @include respond(tiny) {
        align-self: center;
        grid-template-columns: 1fr;
        gap: 3.12rem;
      }

      & a {
        overflow: hidden;
        border-radius: 2rem;
      }

      & img {
        max-width: 100%;
        border-radius: 2rem;
        transition: transform linear 0.1s;

        &:hover {
          transform: scale(1.05);
        }

        @include respond(tiny) {
          max-width: 45rem;
        }
      }
    }
  }
}

.div-lira {
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(40px);
  display: flex;

  @include respond(small) {
    position: relative;
    transform: translateX(0);
    max-width: 53rem;
    width: 100%;
  }
}

// SECAO DISCLAIMER

.disclaimer__paragrafo {
  font-size: 1.33rem;
  text-align: center;
}

// SECAO PASSO A PASSO

.img-seta {
  width: 4rem;

  @include respond(small) {
    width: 3.7rem;
  }

  @include respond(tiny) {
    width: 2.6rem;
  }
}

.img-lira {
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: center;

  @include respond(small) {
    justify-self: center;
    grid-row: auto;
    grid-column: 1 / span 2;
    max-width: 27.5rem;
  }

  @include respond(tiny) {
    grid-column: auto;
  }
}

// SECAO QUEM

.quem {
  @include flex($direction: column, $gap: 3.12rem);
  max-width: 50%;
  width: 100%;
  color: #fff;
  margin-bottom: 6.1rem;

  @include respond(small) {
    max-width: 53rem;
    margin-bottom: 0;
  }

  &__cabecalho {
    border-left: solid 0.4rem $cor-amarelo;
    padding-left: 2rem;
  }

  &__textos {
    @include flex($direction: column, $gap: 1.6rem);

    & span {
      color: $cor-amarelo;
      font-weight: 600;
    }
  }
}

.img-lira-logo {
  position: absolute;
  width: 45%;
  bottom: 0;
  right: 0;

  @include respond(small) {
    position: relative;
    max-width: 43rem;
    width: 100%;
  }
}
